* {
    box-sizing: border-box;
}

:root {
    --brandy-red: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --white-coffee: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

body {
    font-family: outfitFont;
    margin: 0;
    color: var(--wenge-brown);
}

header {
    margin-bottom: 2rem;
}

hr {
    border: none;
    background-color: var(--white-coffee);
    height: 1px;
    margin: 2rem 0;

}

ul,
ol {
    margin: 0;
    padding-left: 1.3rem;

    li {
        padding-left: 1.2rem;
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        &::marker {
            font-size: 0.7em;
        }
    }
}

ol li::marker {
    font: bold 1rem outfitFont;
}

table {
    width: 100%;
    border-collapse: collapse;

    tr:first-child td {
        padding-top: 0;
    }

    tr:last-child td {
        border-bottom: none;
        padding-bottom: 0;
    }

    td {
        border-bottom: 1px solid var(--white-coffee);

        &:nth-child(1) {
            padding: 0.75rem 1rem 0.75rem 2rem;
        }

        &:nth-child(2) {
            padding: 0.75rem 2rem 0.75rem 0;
            color: var(--brandy-red);
            font-weight: bold;
        }
    }
}

.wrapper {
    margin: 2.5em 2em 0 2em;
}

.img-container {
    line-height: 0;

    img {
        width: 100%;
    }
}

.title {

    margin-bottom: 2rem;

    h1 {
        color: var(--dark-charcoal);
        font: normal 2.25rem youngSerifFont;
        line-height: 1em;
    }

    p {
        line-height: 1.5rem;
        margin: 0;

    }
}

.preparation {

    background-color: #fff7fb;
    border-radius: 0.75rem;
    padding: 1.5rem;

    h2 {
        margin: 0;
        color: var(--dark-raspberry);
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    li::marker {
        color: var(--dark-raspberry);
    }
}

main {

    h2 {
        margin: 0 0 1.5rem 0;
        font: normal 1.75rem youngSerifFont;
        color: var(--brandy-red);
    }

    p {
        margin: 1.5rem 0;
    }

    li::marker {
        color: var(--brandy-red);
    }


}

.attribution {
    margin: 3em auto auto auto;
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}

/* Designed on 1440px width */
@media (min-width: 1024px) {
    body {
        background-color: var(--eggshell);
    }

    .img-container {
        margin: 0;

        img {
            border-radius: 12px;
        }
    }

    .card {
        margin: 7.7rem 22rem;
        background-color: white;
        padding: 2.5rem;
        border-radius: 24px;
    }

    .wrapper {
        margin: 2.5rem 0 0 0;
    }
}

@font-face {
    font-family: outfitFont;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: youngSerifFont;
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}