* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: outfitFont;
}

header img {
    display: block;
    width: 100vw;
}

.intro {
    margin: 2.5em 2em 2em 2em;

    h1 {
        color: #302d2c;
        font-family: youngSerifFont;
        font-size: 2.2em;
        font-weight: normal;
        line-height: 1em;
    }

    p {
        color: #5f574e;
        line-height: 1.5em;

    }
}

.card {

    background-color: #fff7fb;

    h2 {
        color: #7b284f;
    }

    ul {}
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@font-face {
    font-family: outfitFont;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: youngSerifFont;
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}